
`timescale 1ns / 1ns

module test;


wire  mem_mux_out;

reg  lb, lbu, lh, lhu, lw;

reg [2:0]  mem_mux_sel;



mem_mux top(mem_mux_out, lb, lbu, lh, lhu, lw, mem_mux_sel); 
 

`ifdef verilog

 //please enter any additional verilog stimulus in the /home/maxma2/Documents/Coursework/ece425/mp2/lib/mem_mux_run1/testfixture.verilog file
`include "/home/maxma2/Documents/Coursework/ece425/mp2/lib/mem_mux_run1/testfixture.verilog"

`endif

endmodule 
